<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login signup page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="heading h1">
        <h1>LOGIN HERE</h1>
      </div>
      <div class="fields">
        <input type="text" placeholder="Email Adress" />
        <input type="password" placeholder="Password" />
        <button>Login</button>
        <p>Dont have an Account ? <span class="signupLink"> signup here </span></p>
      </div>
      <div class="signup">
        <div class="heading h2">
          <h1>SIGNUP HERE</h1>
        </div>
        <div class="fields">
          <input type="text" placeholder="Username" />
          <input type="text" placeholder="Email Adress" />
          <input type="password" placeholder="Password" />
          <button>Signup</button>
          <p>Already have an Account ? <span class="loginLink"> login here </span></p>
        </div>
      </div>
    </div>
    <!-- // script -->
    <script src="index.js"></script>
  </body>
</html>
